<%- include("partials/_header"); %>


    <h1 style="text-align: center; margin-top: 20px; margin-bottom: 50px;">
        Bienvenido
    </h1>
    <p style="font-size: 20px; text-align: center;">
        Este sistema de gestion fue desarrollado por:
         
    </p>
    <ul style="font-size: 20px; text-align: center;list-style-type: none;">
        <li>Gustavo Rivera,
            </li>
        <li>
            Javier Vargas,
        </li>
        <li>
            Daniel Mateus,
        </li>
    </ul>
    <p style="font-size: 20px; text-align: center;" >
        como solucion del lab0 de la materia Ingenieria de software II
        presentado a:
    </p>
    <ul style="font-size: 20px; text-align: center;list-style-type: none;">
        <li>
            Hernando Rodriguez Gonzalez
        </li>
    </ul>

<%- include("partials/_footer"); %>

