<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema de gestion</title>
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet" >
</head>
<body style="background-color: whitesmoke;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Grupo4</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/personas">Personas</a>
              <a class="nav-link" href="/municipios">Municipios</a>
              <a class="nav-link" href="/viviendas">viviendas</a>
              <a class="nav-link" href="/viviendas">Cabeza de Familia</a>
              <a class="nav-link" href="/viviendas">Propietario</a>
              <a class="nav-link" href="/viviendas">Habitante</a>
            </div>
          </div>
        </div>
      </nav>

